.jumbotron {
  background-color:#fff;
  padding: inherit;
}

.well {
  font-size: 24pt;
  text-align: center;
}

#logo {
  width:100%;
  height:100%;
  background-image:url(attLogo.png);
}

.card {
  width:400px;
  background-size: 100% 100%;
}
.card img {
  height: 250px;
}
.card-deck {
  max-width: 100%;
}
.image-fluid {

}
